<div class="cardItens" style="display: flex">
  <img
    class="productImage"
    src="https://gmedia.playstation.com/is/image/SIEPDC/dualsense-controller-product-thumbnail-01-en-14sep21?$facebook$"
    alt="Product 1"
  />
  <div class="group-text" style="margin-right: 1rem">
    <h2 style="margin-right: 1rem">
      Controle Dualsense Cfi-zct2 Sem Fio Ps5 Galactic Purple
    </h2>
    <h6 style="margin-right: 1rem">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
      molestiae ab exercitationem inventore, est consectetur provident assumenda
      excepturi nisi eos nobis tempora.
    </h6>
    <p style="font-weight: bold; margin-top: 2rem; font-size: 3rem">
      R$ 469,00
    </p>

    <div>
      <button
        type="button"
        class="btn btn-light"
        style="margin-right: 5rem"
        (click)="onToggle()"
      >
        Comprar
        <img
          src="https://cdn-icons-png.flaticon.com/512/44/44766.png"
          alt="Google Logo"
          style="
            width: 20px;
            height: 18px;
            margin-right: 5px;
            margin-bottom: 3px;
          "
        />
      </button>

      <button type="button" class="btn btn-light" (click)="onToggle()">
        Carrinho
        <img
          src="https://th.bing.com/th/id/R.3a142deb575a914f4539d0a7f88791b6?rik=A7ExdAnGRThXdw&riu=http%3a%2f%2fwww.pngmart.com%2ffiles%2f7%2fCart-PNG-Image.png&ehk=y6BrtzzSGUlZ4oIC8NSR%2bxzgS2kXfQUuoVcsh83ACP8%3d&risl=&pid=ImgRaw&r=0"
          alt="Google Logo"
          style="
            width: 20px;
            height: 20px;
            margin-right: 5px;
            margin-bottom: 3px;
          "
        />
      </button>
    </div>
  </div>
</div>
