<div style="border: 2px solid #ffff"></div>
<div class="wrapper">
  <div class="text-img-wrapper">
    <img src="../assets/profile.jpg" alt="Profile Image" />
    <div class="colunm">
      <h2>Gustavo Pereira Magalhães</h2>
      <div class="textbox">
        <p>
          Tenho 21 anos e estou no mundo da programação a 2 anos. Tenho um certo
          apresso por linguagens Front End, estruturar telas, criar layouts e me
          aprofundar em tecnologias que me ajudem a criar um ambiente mais
          amigável para o usuário. UI/UX é uma área que me interessa muito,
          apesar de não ter muita experiência.
        </p>
      </div>
    </div>
    <div class="colunm">
      <h2>Outras Habilidades</h2>
      <div class="textbox" style="margin-left: 15px">
        <p>
          Já me aprofundei muito em Hardware e manutenção de computadores e
          notebooks, montagem de computadores, instalação de sistemas. E também,
          atualmente estou me aprofundando em SQL e banco de dados, é uma área
          que me chamou bastante atenção e hoje em dia uso bastante no meu
          ambiente de trabalho.
        </p>
      </div>
    </div>
  </div>

  <div class="button-container">
    <a href="">
      Back End Languages
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <br />
      <div class="cardItens">
        <div
          class="productImage"
          *ngFor="let backendLanguages of listBackendLanguages"
        >
          <img [src]="backendLanguages.urlimage" alt="Images" />
        </div>
      </div>
    </a>

    <a href="">
      Front End Languages
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <br />
      <div class="cardItens">
        <div
          class="productImage"
          *ngFor="let frontendLanguages of listFrontendLanguages"
        >
          <img [src]="frontendLanguages.urlimage" alt="Images" />
        </div>
      </div>
    </a>

    <a href="">
      Frameworks
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <br />
      <div class="cardItens">
        <div class="productImage" *ngFor="let frameworks of listFrameworks">
          <img [src]="frameworks.urlimage" alt="Images" />
        </div>
      </div>
    </a>
  </div>
</div>
