<div class="container">
  <div class="cardItens">
    <img
      class="productImage"
      src="https://gmedia.playstation.com/is/image/SIEPDC/dualsense-controller-product-thumbnail-01-en-14sep21?$facebook$"
      alt="Product 1"
    />
    <div class="group-text">
      <p>Controle Dualsense Cfi-zct1 Sem Fio Ps5 Galactic Purple...</p>
      <p style="font-weight: bold">R$ 469,00</p>
    </div>
  </div>
  <div class="cardItens">
    <img
      class="productImage"
      src="https://images-na.ssl-images-amazon.com/images/G/01/x-locale/cs/help/images/D2gateway/spot_efd_dot_ring.png"
      alt="Product 1"
    />
    <div class="group-text">
      <p>Echo Dot 5ª Geração Alto-falante De 1,73 Preto Am..</p>
      <p style="font-weight: bold">R$ 229,89</p>
    </div>
  </div>
  <div class="cardItens">
    <img
      class="productImage"
      src="https://www.pioneerdj.com/-/media/pioneerdj/images/products/headphones/hdj-x5bt/black/hdj-x5bt-k-main-bt-2.png?h=630&w=1200&hash=DCDE0139A27DE3C6B4976052C7305F4C"
      alt="Product 2"
    />
    <div class="group-text">
      <p>Echo Dot 5ª Geração Alto-falante De 1,73 Preto Am..</p>
      <p style="font-weight: bold">R$ 469,00</p>
    </div>
  </div>
  <div class="cardItens">
    <img
      class="productImage"
      src="https://www.pioneerdj.com/-/media/pioneerdj/images/products/headphones/hdj-x5bt/black/hdj-x5bt-k-main-bt-2.png?h=630&w=1200&hash=DCDE0139A27DE3C6B4976052C7305F4C"
      alt="Product 2"
    />
    <div class="group-text">
      <p>Echo Dot 5ª Geração Alto-falante De 1,73 Preto Am..</p>
      <p style="font-weight: bold">R$ 469,00</p>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 2rem">
  <div class="cardItens">
    <img
      class="productImage"
      src="https://gmedia.playstation.com/is/image/SIEPDC/dualsense-controller-product-thumbnail-01-en-14sep21?$facebook$"
      alt="Product 1"
    />
    <div class="group-text">
      <p>Controle Dualsense Cfi-zct1 Sem Fio Ps5 Galactic Purple...</p>
      <p style="font-weight: bold">R$ 469,00</p>
    </div>
  </div>
  <div class="cardItens">
    <img
      class="productImage"
      src="https://www.pioneerdj.com/-/media/pioneerdj/images/products/headphones/hdj-x5bt/black/hdj-x5bt-k-main-bt-2.png?h=630&w=1200&hash=DCDE0139A27DE3C6B4976052C7305F4C"
      alt="Product 2"
    />
    <div class="group-text">
      <p>Echo Dot 5ª Geração Alto-falante De 1,73 Preto Am..</p>
      <p style="font-weight: bold">R$ 469,00</p>
    </div>
  </div>
  <div class="cardItens">
    <img
      class="productImage"
      src="https://www.pioneerdj.com/-/media/pioneerdj/images/products/headphones/hdj-x5bt/black/hdj-x5bt-k-main-bt-2.png?h=630&w=1200&hash=DCDE0139A27DE3C6B4976052C7305F4C"
      alt="Product 2"
    />
    <div class="group-text">
      <p>Echo Dot 5ª Geração Alto-falante De 1,73 Preto Am..</p>
      <p style="font-weight: bold">R$ 469,00</p>
    </div>
  </div>
  <div class="cardItens">
    <img
      class="productImage"
      src="https://www.pioneerdj.com/-/media/pioneerdj/images/products/headphones/hdj-x5bt/black/hdj-x5bt-k-main-bt-2.png?h=630&w=1200&hash=DCDE0139A27DE3C6B4976052C7305F4C"
      alt="Product 2"
    />
    <div class="group-text">
      <p>Echo Dot 5ª Geração Alto-falante De 1,73 Preto Am..</p>
      <p style="font-weight: bold">R$ 469,00</p>
    </div>
  </div>
</div>
